<%- include('../partials/header.ejs') %>


  <form class="form-inline my-2 my-lg-0">
    <input id="search_table" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <!-- <button class="btn btn-outline-light my-2 my-sm-0" type="submit" onkeyup="searchRows()">Search</button> -->
  </form>
  </div>
  </nav>

  </section>
  <!-- Navigation Section - Ends here -->


  <!-- Side Navigation Section Starts Here -->

<%- include('../partials/sidebar.ejs') %>

    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->

    
    <!-- Page Content -->

<%- include('../partials/footer.ejs')%>
