.text-area-view{
    height: 400px;
    white-space: pre-line;
    overflow: auto;
    background-color: #F0F0F0;
    padding: 0 20px;
    border-radius: 1%;
}

.text-area-create{
    height: 400px;
    overflow: auto;
}

.text-area-comment{
    height: auto;
}

.text-area-commentview{
    height: auto;
    white-space: pre-line;
    overflow: auto;
    background-color: #F0F0F0;
    padding: 10px 20px;
    border-radius: 1%;
}

.script-sidebar{
    /* height: 100vh; */
    background-color: #E8E8E8;
}

.script-container{
    margin: 10px 0;
    height: max-content;
}

@media print {
    body * {
      visibility: hidden;
    }
    .script-container, .script-container * {
      visibility: visible;
    }
    .interview-link{
        overflow-wrap: inherit;
    }
    .print-button{
        display: none;
    }
    @page {size:  auto; margin: 50px;}
  }