
<%- include('../partials/header.ejs') %>


<form class="form-inline my-2 my-lg-0">
  <input id ="myInput" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" onkeyup="searchRows()">
  <!-- <button class="btn btn-outline-light my-2 my-sm-0" type="submit" onkeyup="searchRows()">Search</button> -->
</form>
</div>
</nav>

</section> 
<!-- Navigation Section - Ends here -->



       <!-- Side Navigation Section Starts Here -->
<!-- Side Navigation Section Starts Here -->

<%- include('../partials/sidebar.ejs') %>

<!-- /#sidebar-wrapper -->






</section>            
                   
                    


    <script src="http://cdn.date-fns.org/v1.9.0/date_fns.min.js"></script>
    <script src="/js/clock.js"></script>

<%- include('../partials/footer.ejs')%>
                