<%- include('../partials/header1.ejs') %>

<div class="container">
    
    <div class="d-flex justify-content-center align-items-center mt-4">
        <h3>Script</h3>
    </div>
    <div class="d-flex justify-content-center align-items-center">
        <hr style="width:500px ;">
    </div>

    <!-- heading section -->
    <div class="row">
        <div class="col-md-12">
            <h2>1. Consultant Details</h2>
        </div>
        <div class="col-md-12">
            <hr style="border: 1px solid #007Ebc ;">
        </div>
    </div>
    <!-- heading section -->

</div>

<%- include('../partials/footer1.ejs')%>
